#Masukkan Data

In [ ]:
import pandas as pd
#Melakukan Load Data
d = pd.read_excel("Dataset_lama.xlsx")
d.head()

   Index        F1        F2        F3  ...      F12      F13      F14  Label
0      0  0.736626  0.597937  1.535647  ...  12.4585  20.4063  30.8238      1
1      1  0.694672  0.516291  1.806776  ...  14.1530  25.4531  41.2382      1
2      2  0.716667  0.547966  1.690245  ...  13.4940  24.6055  40.1646      1
3      3  0.673077  0.548412  1.763861  ...  15.1770  24.5586  39.6899      1
4      4  0.728216  0.548810  1.674075  ...  14.2070  25.6758  44.7681      1

[5 rows x 16 columns]

In [ ]:
d.dropna(inplace=True)

#Reshape Data Frame

In [ ]:
#Reshape Dataframe
# d_melt = pd.melt(d, id_vars=['Genotype'], value_vars=['1_year', '2_year', '3_year'])
# d_melt.columns = ['Genotype', 'years', 'value']
# d_melt.head()

#Model Two-Way ANOVA

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
rescaledX = scaler.fit_transform(d.values)
scaled = pd.DataFrame(rescaledX, index=d.index, columns=d.columns)

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
#Membuat model Two-way ANOVA
model = ols('Label ~ F7*F8', data=scaled).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
#Menampilkan Tavel ANOVA
anova_table

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

             sum_sq    df          F    PR(>F)
F7        11.792718   1.0  13.485099  0.000414
F8         0.434141   1.0   0.496445  0.482948
F7:F8      0.043971   1.0   0.050281  0.823100
Residual  76.081494  87.0        NaN       NaN

#Post-hoc Test

In [ ]:
pip install bioinfokit

Requirement already satisfied: bioinfokit in /usr/local/lib/python3.7/dist-packages (2.0.4)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.8.9)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (1.1.5)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.11.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (1.4.1)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.10.2)
Requirement already satisfied: textwrap3 in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.9.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.22.2.post1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (3.2.2)
Requirement already satisfied: matplotlib-venn in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.11.6)
Requirement already satisfied: adjustText in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->bioinfokit) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->bioinfokit) (2.8.1)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->bioinfokit) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->bioinfokit) (1.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->bioinfokit) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->bioinfokit) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->bioinfokit) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->bioinfokit) (1.15.0)

In [ ]:
from bioinfokit.analys import stat
#Post-hoc Test
res = stat()

#F7
res.tukey_hsd(df=scaled, res_var='Label', xfac_var='F7', anova_model='Label ~ F7*F8')
res.tukey_summary

        group1    group2  Diff     Lower     Upper  q-value  p-value
0     0.743389 -1.276280   0.0 -5.874459  5.874459      0.0      0.9
1     0.743389 -0.030209   0.0 -5.874459  5.874459      0.0      0.9
2     0.743389 -0.706522   0.0 -5.874459  5.874459      0.0      0.9
3     0.743389  0.013299   0.0 -5.874459  5.874459      0.0      0.9
4     0.743389  0.612453   0.0 -5.874459  5.874459      0.0      0.9
...        ...       ...   ...       ...       ...      ...      ...
4090 -0.553804  0.362523   0.0 -5.874459  5.874459      0.0      0.9
4091 -0.553804 -0.538916   0.0 -5.874459  5.874459      0.0      0.9
4092 -0.667470  0.362523   0.0 -5.874459  5.874459      0.0      0.9
4093 -0.667470 -0.538916   0.0 -5.874459  5.874459      0.0      0.9
4094  0.362523 -0.538916   0.0 -5.874459  5.874459      0.0      0.9

[4095 rows x 7 columns]